{# def
    terms: list[DictionaryTerm],
    table_type_dictionary: TableType.DICTIONARY,
#}

<PageLayout title="Dictionary" _attrs={{ attrs }}>
    <global.PageTitle>Dictionary</global.PageTitle>

    <p class="mb-5">
        Valentina's dictionary is a collection of terms and their definitions. <strong>Whenever Valentina encounters these terms, she will link them to their definition.</strong> This is a great way to remind yourself of gameplay mechanics, lore, and other important information. Biothaumaturgy, and mastery of the mortal shell.
    </p>

    <HTMXPartials.EditTable.TablePartial TableType={{ table_type_dictionary }} items={{ terms }} can_edit={{ True }} />
</PageLayout>
