{# def
    form:QuartForm,
    join_label:bool = False,
    floating_label:bool = False,
    post_url:str = "",
    character:Character,
#}
<form method="post"
      id="{{ form._prefix }}form"
      hx-post="{{ post_url }}"
      novalidate
      hx-indicator="#spinner"
      hx-target="#form-container"
      hx-swap="innerHTML"
      encoding="application/x-www-form-urlencoded">
    <global.WTFormElements form={{ form }} join_label={{ join_label }} floating_label={{ floating_label }} />
    <input class="btn btn-success"
           id="submit"
           name="submit"
           type="submit"
           value="Submit">
    <a href="{{ url_for('character_view.view', character_id=character.id) }}"
       class="btn btn-outline-secondary ms-2">Cancel</a>
</form>
