{# def
    statistics:dict[str,str],
    with_title:bool = True,
    title:str = "Statistics",
    header_size:Literal["h1", "h2", "h3", "h4", "h5", "h6"] = "h2",
#}
{% if with_title %}<global.Subtitle title={{ title }} header_size={{ header_size }} />{% endif %}
<div class="table-responsive">
    <table class="table table-borderless table-sm">
        <tr>
            <td class="text-end pe-2 text-nowrap">
                <strong>Total Rolls</strong>
            </td>
            <td class="font-monospace text-nowrap">{{ statistics.total_rolls }}</td>
            <td class="text-end pe-2 text-nowrap">
                <strong>Criticals</strong>
            </td>
            <td class="font-monospace text-nowrap">
                {{ statistics.criticals }} <small>({{ statistics.criticals_percentage }}%)</small>
            </td>
        </tr>
        <tr>
            <td class="text-end pe-2 text-nowrap">
                <strong>Avg. Difficulty</strong>
            </td>
            <td class="font-monospace text-nowrap">{{ statistics.average_difficulty }}</td>
            <td class="text-end pe-2 text-nowrap">
                <strong>Successes</strong>
            </td>
            <td class="font-monospace">
                {{ statistics.successes }} <small>({{ statistics.successes_percentage }}%)</small>
            </td>
        </tr>
        <tr>
            <td class="text-end pe-2 text-nowrap">
                <strong>Avg. Pool Size</strong>
            </td>
            <td class="font-monospace text-nowrap">{{ statistics.average_pool }}</td>
            <td class="text-end pe-2 text-nowrap">
                <strong>Failures</strong>
            </td>
            <td class="font-monospace">
                {{ statistics.failures }} <small>({{ statistics.failures_percentage }}%)</small>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="text-end pe-2 text-nowrap">
                <strong>Botches</strong>
            </td>
            <td class="font-monospace">
                {{ statistics.botches }} <small>({{ statistics.botches_percentage }}%)</small>
            </td>
        </tr>
    </table>
</div>
