{# def
    campaign: Campaign,
    characters: List[Character],
    CampaignEditableInfo: CampaignEditableInfo,
    can_manage_campaign: bool = False,
#}
<h2 class="mb-4">Characters & NPCs</h2>
<h4>Player Characters</h4>
<ul>
    {% for character in characters | sort(attribute="full_name") %}
        <li>
            <a href="{{ url_for('character_view.view', character_id=character.id) }}">{{ character.name_first | escape }} {{ character.name_last | escape }}</a>
        </li>
    {% endfor %}
</ul>
{% if campaign.npcs %}
    <h4>NPCs</h4>
    <ul>
        {% for npc in campaign.npcs | sort(attribute="name") %}
            <li>
                <strong>{{ npc.name | escape }}</strong> {{ npc.description | from_markdown | safe }}
            </li>
        {% endfor %}
    </ul>
{% endif %}
