{# def
    user: User,
    statistics: dict[str, str],
    roles: list[str],
    discord_member: discord.Member,
    discord_guild: discord.Guild,
    created_at: str,
    joined_at: str,
    campaign_experience: list[UserCampaignExperience],
    characters: list[Character],
    emoji: Emoji,
    table_type_macro: TableType,
    can_grant_xp: bool,
#}

{% set can_edit = session["USER_ID"] == user.id %}

<PageLayout title={{ user.name }} _attrs={{ attrs }}>
    <global.PageTitle>

    {%- if user.avatar_url %}
        <img src={{ user.avatar_url }} alt="User Avatar" class="img-fluid rounded-circle" width="75" height="75">
    {%- endif %}
    {{ user.name }}</global.PageTitle>

    <div class="row mb-5">
        <div class="col-xl-4 col-md-5 mb-6">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <global.Subtitle title="User Info" header_size="h4" />
                    <table class="table table-borderless table-sm">
                        <tr>
                            <td class="text-nowrap">
                                <strong>Joined Discord</strong>
                            </td>
                            <td class="font-monospace">{{ created_at | capitalize }}</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">
                                <strong>Joined {{ discord_guild.name }}</strong>
                            </td>
                            <td class="font-monospace">{{ joined_at | capitalize }}</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">
                                <strong>Guild Roles</strong>
                            </td>
                            <td class="font-monospace">
                                <small>{{ roles | join(", ") }}</small>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">
                                <strong>Num Characters</strong>
                            </td>
                            <td class="font-monospace">{{ characters | length }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-6">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <global.Statistics statistics={{ statistics }} header_size="h4" title="Roll Statistics" />
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-6">
            <div class="card h-100 shadow">
                <div class="card-body" id="experience-table">
                    <HTMXPartials.AddExperience.ExperienceTableView user={{ user }} campaign_experience={{ campaign_experience }} can_grant_xp={{ can_grant_xp }} parent_id="experience-table" />

                </div>
            </div>
        </div>
    </div>

    <HTMXPartials.EditTable.TablePartial TableType={{ table_type_macro }} items={{ user.macros }} can_edit={{ can_edit }} parent_id={{ user.id }} header_size="h2" />

    {%- if session["USER_ID"] == user.id %}
        <a class="btn btn-outline-primary btn-sm ms-3 float-end"
           href="{{ url_for('character_create.start') }}"><i class="fa-solid fa-person-circle-plus"></i> Create Character</a>
    {%- endif %}
    <global.Subtitle title={{ user.name ~ "'s characters" | capitalize }} header_size="h2" />
    <div id="characters" class="mb-5">
        {%- if user.characters %}
            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Alive</th>
                        {%- if session["IS_STORYTELLER"] %}<th>Type</th>{% endif %}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%- for character in characters | sort(attribute="name") %}
                        {%- if character.type_storyteller and not session["IS_STORYTELLER"] %}{% continue %}
                        {% endif %}
                        <tr>
                            <td>
                                <strong><a href="{{ url_for('character_view.view', character_id=character.id) }}">{{ character.name }}</a></strong>
                            </td>
                            <td>{{ character.char_class_name | title }}</td>
                            <td>
                                {%- if character.is_alive %}
                                    {{ emoji.ALIVE.value }}
                                {%- else %}
                                    {{ emoji.DEAD.value }}
                                {%- endif %}
                            </td>
                            {%- if session["IS_STORYTELLER"] %}
                                <td>{{ 'Player' if character.type_player else 'Storyteller' }}</td>
                            {%- endif %}
                            <td>
                                {# This button is used to trigger the gameplay modal #}
                                <button type="button"
                                        class="btn btn-primary btn-sm"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modal-{{ character.id }}">
                                    <i class="fa-solid fa-dice"></i>&nbsp;&nbsp;Roll Dice
                                </button>
                                {# TODO: The modal for every character is loaded here when the page loads. This creates a number of GET requests. Refactor this to only load the modal when the button is clicked to increase performance #}
                                <global.GameplayModal character_name={{ character.name }} character_id={{ character.id }} campaign_id={{ character.campaign }} id={{ 'modal-' ~ character.id }} />
                            </td>
                        </tr>
                    {%- endfor %}
                </tbody>
            </table>

        {%- else %}
            <p>
                No characters.  <a href="{{ url_for('character_create.start') }}">Create one</a>
            </p>
        {%- endif %}
    </div>

</PageLayout>
