# Exclude directories and files that are not needed in the container
*.log
.DS_Store
.cache/
.cursor/
.development/
.github/
.mypy_cache/
.pre-commit-config.yaml
.pytest_cache/
.ruff_cache/
.typos.toml
.venv/
.yamllint.yml
__pycache__
codecov.yml
committed.toml
docker-compose.yml
htmlcov/
reports/
scripts
tests/
tmp/
