# Secrets
secrets.txt
.env.secret
.env.secrets
test_random.py
*.log
tmp

# Testing during development
test_cog.py
*.rdb
report.html
.cursor/
GEMINI.md
.dev/
scratch/

# Databases
*.sqlite*
*.db

# Caches
*_cache/
.cache/
__pycache__/

# macOS
.DS_Store

# packaging
.venv/
dist/
.github/copilot-instructions.md
.github/instructions/
