<global.TabGroup>
<global.TabItem url={{ url_for('campaign.view_campaign', campaign_id=campaign.id, tab='overview') }} text="Overview" number="1" target="#main-content" />
<global.TabItem url={{ url_for('campaign.view_campaign', campaign_id=campaign.id, tab='books') }} text="Books & Chapters" number="2" target="#main-content" />
<global.TabItem url={{ url_for('campaign.view_campaign', campaign_id=campaign.id, tab='characters') }} text="Characters & NPCs" number="3" target="#main-content" />
<global.TabItem url={{ url_for('campaign.view_campaign', campaign_id=campaign.id, tab='statistics') }} text="Statistics" number="4" target="#main-content" />
</global.TabGroup>
