<PageLayout title="Create Character">
    <global.PageTitle>Create New Character</global.PageTitle>
    <div id="create-character-container">
        <div class="row g-1">
            <div class="col-12 col-md-6 border rounded">
                <div class="px-2 py-3">
                    <h3 class="mb-3">Create from Sheet</h3>
                    <p>
                        This wizard will guide you through the process of <strong>entering a new character into the system by hand</strong>. It is recommended that you have already created your character on paper before starting this process. This will make it easier to enter the information into the system.
                    </p>
                    {% if session["IS_STORYTELLER"] %}
                        <button class="btn btn-success btn-lg mb-2"
                                hx-get="{{- url_for('character_create.create_1', character_type='storyteller') -}}"
                                hx-target="#create-character-container">
                            Create Storyteller Character&nbsp;&nbsp;<span class="fa-solid fa-circle-right fa-xl"></span>
                        </button>
                    {% endif %}
                    <button class="btn btn-success btn-lg mb-2"
                            hx-get="{{- url_for('character_create.create_1', character_type='player') -}}"
                            hx-target="#create-character-container">
                        Create
                        {% if session["IS_STORYTELLER"] %}Player{% endif %}
                        Character&nbsp;&nbsp;<span class="fa-solid fa-circle-right fa-xl"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</PageLayout>
