{# def
    selected_campaign: Campaign | None,
#}

{% if not selected_campaign %}
    <div class="my-4">
        <strong>Select a campaign to add the character to:</strong>
        <form hx-post="{{- url_for('character_create.start') -}}"
              hx-trigger="change"
              hx-target="body">
            <select class="form-select" name="campaign">
                <option selected>Select Campaign</option>
                <option disabled>──────────</option>
                {% for campaign, id in session["GUILD_CAMPAIGNS"].items() %}
                    <option value="{{ id }}">{{ campaign }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
{% else %}
    <p>
        Character will be created in: <strong><a href="{{- url_for('campaign.campaign_view',  campaign_id=selected_campaign.id) -}}">{{ selected_campaign.name }}</a></strong>
        <button type="button"
                class="btn btn-outline-primary ms-2"
                style="--bs-btn-padding-y: .15rem;
                       --bs-btn-padding-x: .3rem;
                       --bs-btn-font-size: .55rem"
                hx-post="{{- url_for('character_create.start') -}}"
                hx-trigger="click"
                hx-target="body"
                value="reset_campaign">Change</button>
    </p>
{% endif %}
