{# def
    form:QuartForm,
    sheet_traits:list[SheetSection],
    post_url:str,
#}
<div>
    <form method="post"
          action="{{ post_url }}"
          encoding="application/x-www-form-urlencoded"
          class="mb-5">
        {% for section in sheet_traits %}
            <div class="separator">{{ section.section.name }}</div>
            <div class="row row-cols-1 row-cols-md-3">
                {% for category in section.categories %}
                    {% if category.traits_for_creation %}

                        <div class="col">
                            <div class="text-center pe-5">
                                <h4>{{ category.category.name | title }}</h4>
                            </div>
                            <div class="row row-cols-2">
                                {% for trait in category.traits_for_creation %}
                                    <div class="col text-end">{{ trait.name | capitalize }}:</div>
                                    <div class="col-auto">

                                        {% set field_name = trait.category.name ~ '_' ~trait.name ~ '_' ~ trait.max_value %}

                                        <global.valentinaform.TraitRadioToggle form={{ form }} name={{ field_name }} label={{ trait.name }} max_value={{ trait.max_value }} />
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        {% endfor %}

        <hr class="my-3">
        <button class="btn btn-success button-lg" type="submit">Create Character</button>
        <img id="spinner"
             src="{{ url_for('static', filename='spinners/bars.svg') }}"
             class="htmx-indicator" />
    </form>
</div>
