{# def
    form:QuartForm,
    join_label:bool = False,
    floating_label:bool = False,
    post_url:str = "",
#}
<div class="position-relative" id="create-character-container">
    <div class="py-4 px-5 mt-5 rounded-3 border w-50 center-block">
        <character_create.WTForm form={{ form }} join_label={{ join_label }} floating_label={{ floating_label }} post_url={{ post_url }} />
    </div>
</div>
