{# def
    form: QuartForm,
    post_url: str,
    join_label: bool = False,
    floating_label: bool = False,
#}

{% set encoding = "multipart/form-data" if form.__iter__() | selectattr("type", "in", ["FileField","MultipleFileField"]) | list else "application/x-www-form-urlencoded" %}

<global.FormContainer width="50">
<h2>Select character attributes</h2>
<p>Anything left blank will be randomly generated.</p>
<form method="post"
      id="{{ form._prefix }}form"
      hx-post="{{ post_url }}"
      novalidate
      hx-indicator="#spinner"
      hx-target="#create-character-container"
      encoding="{{ encoding }}">
    <global.WTFormElements form={{ form }} join_label={{ join_label }} floating_label={{ floating_label }} />
</form>
</global.FormContainer>
