{# def
    form: QuartForm,
    character_id: str,
#}
<div id="character-images-body" class="fade-me-out">
    <global.Subtitle title="Add Image" />

    <form method="post"
          id="profile-form"
          hx-post="{{ url_for('partials.characterimages', character_id=character_id) }}"
          novalidate
          hx-indicator="#spinner"
          hx-target="#character-images-body"
          hx-swap="innerHTML swap:0.5s"
          enctype="multipart/form-data">
        <global.WTFormElements form={{ form }} join_label={{ False }} floating_label={{ False }} />
    </form>
</div>
