<global.TabGroup>
<global.TabItem url={{ url_for('character.character_view', character_id=character.id, tab='sheet') }} text="Character Sheet" number="1" />
<global.TabItem url={{ url_for('character.character_view', character_id=character.id, tab='inventory') }} text="Inventory" number="2" />
<global.TabItem url={{ url_for('character.character_view', character_id=character.id, tab='profile') }} text="Profile" number="3" />
<global.TabItem url={{ url_for('character.character_view', character_id=character.id, tab='images') }} text="Images" number="4" />
<global.TabItem url={{ url_for('character.character_view', character_id=character.id, tab='statistics') }} text="Statistics" number="5" />
</global.TabGroup>
