<nav class="navbar navbar-expand-lg bg-dark border-bottom border-4 border-secondary"
     data-bs-theme="dark">
    <div class="container-fluid">
        <strong><a class="navbar-brand" href="{{ url_for("homepage.homepage") }}">Valentina Noir</a></strong>
        <button class="navbar-toggler bg-primary"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="vr mx-3 bg-secondary" style="opacity:0.5;"></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link btn btn-dark me-2"
                       aria-current="page"
                       href="{{ url_for("gameplay.gameplay") }}"><i class="fa-solid fa-dice"></i>&nbsp;Roll Dice</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn btn-dark me-2"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"><i class="fa-solid fa-users"></i>&nbsp;Characters</a>
                    <ul class="dropdown-menu">
                        {% for c_name, c_id in session["USER_CHARACTERS"].items() %}
                            <li>
                                <a class="dropdown-item"
                                   href="{{ url_for("character.character_view",  character_id=c_id) }}">{{ c_name }}</a>
                            </li>
                        {% endfor %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for("character.create_full_start") }}">Create new character</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn btn-dark me-2"
                       href="#"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"><i class="fa-solid fa-book"></i>&nbsp;Campaigns</a>
                    <ul class="dropdown-menu">
                        {% for c_name, c_id in session["GUILD_CAMPAIGNS"].items() %}
                            <li>
                                <a class="dropdown-item"
                                   href="{{ url_for("campaign.campaign_view",  campaign_id=c_id) }}">{{ c_name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-dark me-2"
                       href="{{ url_for("homepage.user_guide") }}"><i class="fa-solid fa-circle-question"></i>&nbsp;User Guide</a>
                </li>
            </ul>
            <!-- NAVBAR RIGHT -->
            <div class="btn-group dropdown">
                <button type="button"
                        class="btn btn-dark dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <img alt="{{ session["USER_NAME"] }} avatar"
                         src="{{ session["USER_AVATAR_URL"] }}"
                         class="rounded-circle border border-3 border-primary-subtle dropdown-toggle"
                         role="button"
                         data-bs-toggle="dropdown"
                         height="55"
                         width="55"
                         aria-expanded="false" />
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <h6 class="dropdown-header">{{ session["USER_NAME"] }}</h6>
                    </li>
                    <li>
                        {# TODO: Build this page #}
                        <a href="" class="dropdown-item">Profile</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a href="{{ url_for("oauth.logout") }}" class="dropdown-item">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
