{# def
    character:Character,
    form:QuartForm,
    post_url:str,
    traits: dict[str, dict[str, list[CharacterTrait]]],
#}
<PageLayout title="Spend freebie points" _attrs={{ attrs }}>
    <global.PageTitle>{{ character.name }}: Spend Freebie Points</global.PageTitle>

    <div class="alert alert-info">
        Spend your freebie points to finalize your character.  Any trait values changed downward will have their value added to your freebie points.
        <br>
        <br>
        <span class="fs-5">You have <strong class="font-monospace">{{ character.freebie_points }}</strong> freebie points to spend.</span>
    </div>
    {% for sheet_section, trait_category in traits.items() %}
        <div class="separator">{{ sheet_section }}</div>
        <div class="row row-cols-1 row-cols-md-3 gy-5">
            {% for category, traits in trait_category.items() %}
                <div class="col">
                    <div class="text-center pe-5">
                        <h4>{{ category | title }}</h4>
                    </div>
                    <div class="row row-cols-2">
                        {% for trait in traits %}
                            <div class="col text-end">{{ trait.name | capitalize }}:</div>
                            <div class="col-auto">
                                <form>
                                    <global.valentinaform.TraitRadioToggle form={{ form }} name={{ trait.id | string }} label={{ trait.name }} max_value={{ trait.max_value }} current-value={{ trait.value }} hx-post={{ post_url }} hx_trigger="click" />
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</PageLayout>
