{# def
    right_button:bool = False,
    button_text:str = "",
    button_url:str = "",
#}
{% if not right_button %}
    <div class="border-bottom border-secondary-subtle mb-5">
        <h1 class="display-3 pb-1">{{ content }}</h1>
    </div>
{% else %}
    <div class="border-bottom border-secondary-subtle mb-5">
        <h1 class="display-3 pb-1 " style="display:inline;">{{ content }}</h1>
        <a href="{{ button_url }}"
           class="btn btn-sm btn-outline-primary float-end">{{ button_text }}</a>
    </div>
{% endif %}
{# <button type="button" class="btn btn-info">Info</button> #}
