{# def
    form:QuartForm,
    join_label:bool = False,
    floating_label:bool = False,
#}
{% if form.form_errors %}
    <div class="alert alert-danger" role="alert">
        <ul>
            {% for error in form.form_errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
    </div>
{% endif %}
{% for field in form %}
    {% set valid_css = " is-invalid" if field.errors else " is-valid" if field.raw_data else "" %}
    {% if field.type == "SubmitField" %}
        <global.wtform.SubmitField field={{ field }} />
    {% elif field.type in ["CSRFTokenField","HiddenField"] %}
        {{ field() }}
    {% elif field.type == "BooleanField" %}
        <global.wtform.BooleanField field={{ field }} join_label={{ join_label }} floating_label={{ floating_label }} />
    {% elif field.type == "RadioField" %}
        <global.wtform.RadioField field={{ field }} join_label={{ join_label }} floating_label={{ floating_label }} />
    {% elif field.type == "ColorField" %}
        <global.wtform.ColorField field={{ field }} join_label={{ join_label }} floating_label={{ floating_label }} />
    {% elif field.type == "IntegerField" %}
        <global.wtform.IntegerField field={{ field }} join_label={{ join_label }} floating_label={{ floating_label }} />
    {% elif field.type in ["SelectField", "SelectMultipleField"] %}
        <global.wtform.SelectField field={{ field }} join_label={{ join_label }} floating_label={{ floating_label }} />
    {% elif field.type in ["IntegerRangeField", "DecimalRangeField"] %}
        <global.wtform.RangeField field={{ field }} join_label={{ join_label }} floating_label={{ floating_label }} />
    {% else %}
        {# All other field types use text inputs #}
        <global.wtform.StringField field={{ field }} join_label={{ join_label }} floating_label={{ floating_label }} />
    {% endif %}
{% endfor %}
