{# def
    is_storyteller: bool,
#}
<PageLayout>
{% set card_style = "card h-100 border border-2 shadow bg-light-subtle" %}
<global.PageTitle>Welcome {{ session["USER_NAME"] }}</global.PageTitle>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <homepage.Card title="Characters" icon="users">
    <div class="row row-cols-2">
        <div class="col border-end border-1">
            <p class="card-text">
                View
                {% if is_storyteller %}
                    all
                {% else %}
                    your
                {% endif %}
                characters
            </p>
            <div x-data="{character_url: null}">
                <div class="mb-3">
                    <homepage.Character_dropdown is-storyteller={{ is_storyteller }} />
                </div>
                {# djlint:off J018 #}
                <a x-bind:href="character_url"
                   er
                   href="character_url"
                   class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="col ps-4 h-100 d-inline-block">
            <p class="card-text">Or create a new character</p>
            <br>
            <a type="button"
               class="btn btn-primary align-text-bottom"
               href="{{ url_for('character_create.start') }}">Create</a>
        </div>
    </div>
    </homepage.Card>
    <homepage.Card title="Campaigns" icon="book">
    <p class="card-text">View the guild's campaigns</p>
    <div x-data="{campaign_url: null}">
        <div class="mb-3">
            <select class="form-select"
                    aria-label="Default select example"
                    x-model="campaign_url"
                    name="character">
                <option selected>Select campaign</option>
                <optgroup label="──────────">
                </optgroup>
                {% for name, id in session['GUILD_CAMPAIGNS'].items() %}
                    <option value="{{ url_for('campaign.campaign_view',  campaign_id=id) }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        {# djlint:off J018 #}
        <a x-bind:href="campaign_url"
           href="campaign_url"
           class="btn btn-primary">Go</a>
    </div>
    </homepage.Card>
    <homepage.Card title="Gameplay" icon="dice">
    <p class="card-text">Roll dice for your characters.</p>
    <a href="{{ url_for('gameplay.gameplay') }}" class="btn btn-primary">Go</a>
    </homepage.Card>
</div>
</PageLayout>
