{# def
    statistics: dict[str, str],
    all_characters: list[CharacterSessionObject],
#}
<PageLayout _attrs={{ attrs }}>

    <global.PageTitle>Welcome {{ session["USER_NAME"] }}</global.PageTitle>
    {# ################################################################################ #}
    {# ##### Top Cards ##### #}
    <div class="row mb-5">
        <div class="col-xl-4 col-md-5 mb-6">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h4>{{ session["GUILD_NAME"] | title }} Info</h4>
                    <hr class="border border-primary border-2 opacity-75">
                    <table class="table table-borderless table-sm">
                        <tr>
                            <td class="text-nowrap">
                                <strong>Player Characters</strong>
                            </td>
                            <td class="font-monospace">{{ session["USER_CHARACTERS"] | length }}</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">
                                <strong>Storyteller Characters</strong>
                            </td>
                            <td class="font-monospace">{{ session["STORYTELLER_CHARACTERS"] | length }}</td>
                        </tr>
                        <tr>
                            <td class="text-nowrap">
                                <strong>Campaigns</strong>
                            </td>
                            <td class="font-monospace">{{ session["GUILD_CAMPAIGNS"] | length }}</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-6">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <global.Statistics statistics={{ statistics }} header_size="h4" title="Roll Statistics" />
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-6">
            <div class="card h-100 shadow">
                <div class="card-body">
                    <h4>Quick Links</h4>
                    <hr class="border border-primary border-2 opacity-75">
                    <div class="list-group list-group-flush">
                        <a href="{{ url_for('character_create.start') }}"
                           class="list-group-item list-group-item-action text-primary"><i class="fa-solid fa-person-circle-plus pe-2"></i> Create A Character</a>
                        <a class="list-group-item list-group-item-action text-primary"
                           href="{{ url_for('static_files.user_guide') }}"><i class="fa-solid fa-circle-question pe-2"></i> User Guide</a>
                        <a class="list-group-item list-group-item-action text-primary"
                           href="{{ url_for('static_files.changelog') }}"><i class="fa-solid fa-timeline pe-2"></i> Changelog</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {# ##### End Top Cards ##### #}

    <div class="row mb-5">
        <div class="col-xl-4 col-md-5 mb-6">

            <h4>Your Characters</h4>
            <hr class="border border-primary border-2 opacity-75">
            <table class="table table-borderless table-sm">
                <thead>
                    <tr>
                        <th class="text-nowrap small">Character</th>
                        <th class="text-nowrap small">Campaign</th>
                    </tr>
                </thead>
                <tbody>
                    {% for char in all_characters if char.owner_id == session["USER_ID"] %}
                        <tr>
                            <td class="text-nowrap small">
                                <strong><a href="{{ url_for('character_view.view', character_id=char.id) }}">{{ char.name }}</a></strong>
                            </td>
                            <td class="text-nowrap small">{{ char.campaign_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="col-xl-4 col-md-5 mb-6">
            <h4>Other Characters</h4>
            <hr class="border border-primary border-2 opacity-75">
            <table class="table table-borderless table-sm">
                <thead>
                    <tr>
                        <th class="text-nowrap small">Character</th>
                        <th class="text-nowrap small">Owner</th>
                        <th class="text-nowrap small">Campaign</th>
                    </tr>
                </thead>
                <tbody>

                    {% for char in all_characters if char.owner_id != session["USER_ID"] %}
                        {%- if char.type_storyteller and not session["IS_STORYTELLER"] %}{% continue %}
                        {% endif %}
                        <tr>
                            <td class="text-nowrap small">
                                <strong><a href="{{ url_for('character_view.view', character_id=char.id) }}">{{ char.name }}</a></strong>
                            </td>
                            <td class="text-nowrap small">{{ char.owner_name }}</td>
                            <td class="text-nowrap small">{{ char.campaign_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-xl-4 col-md-5 mb-6">
            <h4>Campaigns</h4>
            <hr class="border border-primary border-2 opacity-75">
            <div class="list-group list-group-flush">
                {% for campaign_name, campaign_id in session["GUILD_CAMPAIGNS"].items() %}
                    <a href="{{ url_for('campaign.view', campaign_id=campaign_id) }}"
                       class="list-group-item list-group-item-action text-primary">{{ campaign_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    {# ################################################################################ #}

</PageLayout>
