{# def
    form:ValentinaForm,
    name:str,
    label:str,
    start_val:int = 1,
    max_val:int=5,
    min_val:int=0,
#}
<div x-data="{ currentVal: {{ start_val }}, minVal: {{ min_val }}, maxVal: {{ max_val }}, decimalPoints: 0, incrementAmount: 1 }">
    {% if not form.join_labels %}<label for="{{ name }}" class="form-label">{{ label }}</label>{% endif %}
    <div @dblclick.prevent class="input-group mb-3">
        {% if form.join_labels %}<label class="input-group-text">{{ label }}</label>{% endif %}
        <button class="btn btn-outline-secondary"
                type="button"
                id="button-addon1"
                @click="currentVal = Math.max(minVal, currentVal - incrementAmount)">-</button>
        <input x-model="currentVal.toFixed(decimalPoints)"
               id="{{ name }}"
               type="text"
               class="form-control"
               name="{{ name }}"
               readonly>
        <button class="btn btn-outline-secondary"
                type="button"
                id="button-addon1"
                @click="currentVal = Math.min(maxVal, currentVal + incrementAmount)">+</button>
    </div>
</div>
