{# def
    campaign:Campaign,
    books:List[CampaignBook],
#}
<h2 class="mb-4">Books & Chapters</h2>
<global.AccordionGroup name="bookAccordion">
{% for book in books | sort(attribute="number") %}
    <global.AccordionItem accordion-name="bookAccordion" title={{ book.number ~ '. ' ~ book.name }} index={{ loop.index }}>
    {{ book.description_long | from_markdown | safe }}
    {% if book.chapters %}
        <h4>Chapters</h4>
        <ol>
            {% for chapter in book.chapters %}
                <li>
                    <strong>{{ chapter.name }}</strong> {{ chapter.description_long | from_markdown | safe }}
                </li>
            {% endfor %}
        </ol>
    {% endif %}
    </global.AccordionItem>
{% endfor %}
</global.AccordionGroup>
