{# def
    campaign: Campaign
#}
<div class="row justify-content-start">
    <div class="col-2 sticky-top ps-0">
        <table class="table table-sm table-borderless table-light border border-dark-subtle rounded-5">
            <tr>
                <th>Danger</th>
                <td>{{ campaign.danger }}</td>
            </tr>
            <tr>
                <th>Desperation</th>
                <td>{{ campaign.desperation }}</td>
            </tr>
        </table>
    </div>
    <div class="col" id="campaign-content">
        {# This content is overwritten by the CampaignOverviewSnippet view when edited #}
        <h3 style="display:inline;">Campaign Description</h3>
        <button class="btn btn-sm btn-outline-primary float-end"
                hx-get="{{ url_for("campaign.campaign_overview", campaign_id=campaign.id, view="edit") }}"
                hx-target="#campaign-content">Edit description</button>
        {{ (campaign.description | from_markdown | safe) if campaign.description else "<p>No Description</p>" }}
    </div>
</div>
