{# def
    campaign: Campaign,
    characters: List[Character],
    CampaignEditableInfo: CampaignEditableInfo,
    can_manage_campaign: bool = False,
#}
<h2 class="mb-4">Characters & NPCs</h2>

<a class="btn btn-outline-primary btn-sm ms-3 float-end"
   href="{{ url_for('character_create.start', campaign_id=campaign.id) }}"><i class="fa-solid fa-person-circle-plus"></i> Add a Character</a>
<h3>Player Characters</h3>
<hr class="border border-primary border-2 opacity-75">
{% if characters %}
    <div class="d-flex flex-row flex-wrap flex-lg-nowrap mb-5">
        {%- for column in (characters | sort(attribute="full_name") | slice(2)) %}
            <ul class="flex-fill mb-0">
                {%- for character in column %}
                    <li>
                        <a href="{{ url_for('character_view.view', character_id=character.id) }}">{{ character.full_name | escape }}</a>
                    </li>
                {%- endfor %}
            </ul>
        {%- endfor %}
    </div>

{% else %}
    <p>No player characters associated with this campaign.</p>
{% endif %}

<button class="btn btn-outline-primary btn-sm ms-3 float-end"
        hx-get="{{ url_for(CampaignEditableInfo.NPC.value.route, campaign_id=campaign.id) }}"
        hx-trigger="click"
        hx-target="#{{ CampaignEditableInfo.NPC.value.div_id }}"
        hx-swap="innerHTML">Add NPC</button>
<h3>
    NPCs&nbsp;&nbsp;<span class="text-muted fs-6 fw-light"><small>Names and quick descriptions of non-player characters</small></span>
</h3>
<hr class="border border-primary border-2 opacity-75">
<div id="{{ CampaignEditableInfo.NPC.value.div_id }}">
    {% if campaign.npcs %}
        <table class="table table-striped table-hover mb-5">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for npc in campaign.npcs | sort(attribute="name") %}
                    <tr>
                        <td>{{ npc.name | escape }}</td>
                        <td>{{ npc.npc_class | escape }}</td>
                        <td>{{ npc.description | from_markdown | safe }}</td>
                        <td>
                            <div class="btn-group float-end">
                                <button class="btn btn-sm btn-outline-primary"
                                        style="--bs-btn-padding-y: .25rem;
                                               --bs-btn-padding-x: .5rem;
                                               --bs-btn-font-size: .75rem"
                                        hx-get="{{ url_for(CampaignEditableInfo.NPC.value.route, campaign_id=campaign.id, uuid=npc.uuid) }}"
                                        hx-trigger="click"
                                        hx-target="#{{ CampaignEditableInfo.NPC.value.div_id }}"
                                        hx-swap="innerHTML">Edit</button>
                                {% if can_manage_campaign %}
                                    <button class="btn btn-sm btn-outline-danger"
                                            style="--bs-btn-padding-y: .25rem;
                                                   --bs-btn-padding-x: .5rem;
                                                   --bs-btn-font-size: .75rem"
                                            hx-delete="{{ url_for(CampaignEditableInfo.NPC.value.route, campaign_id=campaign.id, uuid=npc.uuid) }}"
                                            hx-trigger="click"
                                            hx-target="#{{ CampaignEditableInfo.NPC.value.div_id }}"
                                            hx-swap="innerHTML">Delete</button>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No NPCs associated with this campaign.</p>
    {% endif %}
</div>
