{# def
    campaign: Campaign,
    characters: List[Character],
    can_manage_campaign: bool = False,
    table_type_npc: TableType,
#}
<h2 class="mb-4">Characters & NPCs</h2>

<a class="btn btn-outline-primary btn-sm ms-3 float-end"
   href="{{ url_for('character_create.start', campaign_id=campaign.id) }}"><i class="fa-solid fa-person-circle-plus"></i> Add a Character</a>

<global.Subtitle title="Player Characters" header_size="h3" />

{% if characters %}
    <div class="d-flex flex-row flex-wrap flex-lg-nowrap mb-5">
        {%- for column in (characters | sort(attribute="full_name") | slice(2)) %}
            <ul class="flex-fill mb-0">
                {%- for character in column %}
                    <li>
                        <a href="{{ url_for('character_view.view', character_id=character.id) }}">{{ character.full_name | escape }}</a>
                    </li>
                {%- endfor %}
            </ul>
        {%- endfor %}
    </div>

{% else %}
    <p>No player characters associated with this campaign.</p>
{% endif %}

<HTMXPartials.EditTable.TablePartial TableType={{ table_type_npc }} items={{ campaign.npcs }} can_edit={{ can_manage_campaign }} parent_id={{ campaign.id }} header_size="h3" />
