{# def
    campaign: Campaign,
    tabs: CampaignViewTab,
    text_type_campaign_desc: TextType,
    can_manage_campaign: bool = False,
    campaign_data: dict,
#}
<PageLayout title={{ campaign.name }} _attrs={{ attrs }} sweetalert={{ True }}>
    <global.PageTitle>{{ campaign.name }}</global.PageTitle>

    {% include "campaign/tabs.html" %}

    <div id="main-content">
        {# Include the default jinjax template include here for initial page load #}
        <campaign.Overview campaign={{ campaign }} text_type_campaign_desc={{ text_type_campaign_desc }} can-manage-campaign={{ can_manage_campaign }} campaign_data={{ campaign_data }} />
    </div>

</PageLayout>
