{# def
    items: list[Note],
    TableType: TableType,
    can_manage_campaign: bool,
    parent_id: str,
#}

<HTMXPartials.EditTable.TablePartial TableType={{ TableType }} items={{ items }} can_edit={{ can_manage_campaign }} parent_id={{ parent_id }} />
