{# def
    campaign: Campaign,
    can_manage_campaign: bool = False,
    text_type_campaign_desc: TextType,
    campaign_data: dict,
#}

{% set danger_bg_color = "bg-danger" if campaign.danger > 3 else "bg-danger-subtle" if campaign.danger > 0 else "bg-success-subtle" %}

{% set desperation_bg_color = "bg-danger" if campaign.desperation > 3 else "bg-danger-subtle" if campaign.desperation > 0 else "bg-success-subtle" %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
        <div class="card h-100">
            <div class="card-body py-3">
                <global.Subtitle title={{ campaign.name ~ " Info" }} header_size="h4" />

                <table class="table table-borderless table-sm">
                    <tr>
                        <td class="text-nowrap {{ desperation_bg_color }}">
                            <strong>Desperation Level:</strong>
                        </td>
                        <td class="font-monospace {{ desperation_bg_color }}">{{ campaign.desperation }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap {{ danger_bg_color }}">
                            <strong>Danger Level:</strong>
                        </td>
                        <td class="font-monospace {{ danger_bg_color }}">{{ campaign.danger }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">
                            <strong>Num Books:</strong>
                        </td>
                        <td class="font-monospace">{{ campaign_data.num_books }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">
                            <strong>Num Player Characters:</strong>
                        </td>
                        <td class="font-monospace">{{ campaign_data.num_player_characters }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">
                            <strong>Total Available XP:</strong>
                        </td>
                        <td class="font-monospace">{{ campaign_data.available_xp }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">
                            <strong>Total XP Earned:</strong>
                        </td>
                        <td class="font-monospace">{{ campaign_data.total_xp }}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">
                            <strong>Total Cool Points Earned:</strong>
                        </td>
                        <td class="font-monospace">{{ campaign_data.cool_points }}</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-9">
        <HTMXPartials.EditText.TextParentPartial TextType={{ text_type_campaign_desc }} text={{ campaign.description }} can_edit={{ can_manage_campaign }} parent_id={{ campaign.id }} />
    </div>
</div>
