{# def
    character: Character,
    text_type_bio: TextType,
    can_edit: bool,
#}

<HTMXPartials.EditText.TextParentPartial TextType={{ text_type_bio }} text={{ character.bio }} can_edit={{ can_edit }} parent_id={{ character.id }} />
