<div class="mb-4">

    {% if character.freebie_points > 0 and session["USER_ID"] == character.user_owner %}
        <a href="{{ url_for('character_edit.freebie', character_id=character.id) }}"
           class="btn btn-primary"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="{{ character.freebie_points }} freebie points remaining">Spend Freebie Points</a>
    {% endif %}
    {% if campaign_experience > 0 and session["USER_ID"] == character.user_owner %}
        <a href="{{ url_for('character_edit.experience', character_id=character.id) }}"
           class="btn btn-primary"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="{{ campaign_experience }} experience points remaining">Spend experience</a>
    {% endif %}
    {% if session["IS_STORYTELLER"] or session["USER_ID"] == character.user_owner %}
        <a href="{{ url_for('character_edit.profile', character_id=character.id) }}"
           class="btn btn-primary">Edit Profile</a>
    {% endif %}
    {% if session["IS_STORYTELLER"] %}
        <a href="{{ url_for('character_edit.storyteller', character_id=character.id) }}"
           class="btn btn-info">Storyteller Update Character</a>
    {% endif %}

    {% set gameplay_modal_id = character.id ~ "-modal" %}

    {# This button is used to trigger the gameplay modal #}
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#{{ gameplay_modal_id }}">
        <i class="fa-solid fa-dice"></i>&nbsp;&nbsp;Roll Dice
    </button>

    {% if session["IS_STORYTELLER"] or session["USER_ID"] == character.user_owner %}
        <div class="vr mx-1"></div>

        {% set escaped_name = character.name | replace("'", "") %}

        <button class="btn btn-danger"
                hx-delete="{{ url_for('character_edit.delete', character_id=character.id) }}"
                hx-trigger='confirmed'
                onClick="Swal.fire({title: 'Confirm Delete', text:'Are you sure you want to delete {{ escaped_name }}?', confirmButtonText: 'Confirm',confirmButtonColor: 'red', showCancelButton: true}).then((result)=>{ if(result.isConfirmed){ htmx.trigger(this, 'confirmed'); } })"
                hx-target="#delete-character">
            <i class="fa-regular fa-trash-can"></i>&nbsp;&nbsp;Delete Character
        </button>
        {# This div is used to display the toast notification #}
        <div id="delete-character"></div>

    {% endif %}

    {# Load the gameplay modal is included here so that it can be displayed when the button is clicked #}

    <global.GameplayModal character_name={{ character.name }} character_id={{ character.id }} campaign_id={{ campaign.id }} id={{ gameplay_modal_id }} />

</div>
