<div class="modal fade"
     id="gameplayModal"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    <i class="fa-solid fa-dice"></i>&nbsp;&nbsp;Roll Dice for {{ character.name }}
                </h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {# calling hx-trigger="load" to load's the content when this div is parsed in the DOM #}

                <div id="content"
                     hx-trigger="load"
                     hx-get="{{ url_for('diceroll_modal.roll_selector', character_id=character.id, campaign_id=campaign.id) }}">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
