{# def
    character: Character,
    CharacterEditableInfo: CharacterEditableInfo,
    table_type_note: TableType.NOTE,
    table_type_inventory: TableType.INVENTORYITEM,
#}

{% set can_edit = session["IS_STORYTELLER"] or session["USER_ID"] == character.user_owner %}

<HTMXPartials.EditTable.TablePartial TableType={{ table_type_inventory }} items={{ character.inventory }} can_edit={{ can_edit }} parent_id={{ character.id }} />

<HTMXPartials.EditTable.TablePartial TableType={{ table_type_note }} items={{ character.notes }} can_edit={{ can_edit }} parent_id={{ character.id }} />

{% if can_edit %}
    <button class="btn btn-outline-primary btn-sm ms-3 float-end"
            hx-get="{{ url_for(CharacterEditableInfo.CUSTOM_SECTION.value.route, character_id=character.id) }}"
            hx-trigger="click"
            hx-target="#{{ CharacterEditableInfo.CUSTOM_SECTION.value.div_id }}"
            hx-swap="innerHTML">Create New Section</button>
{% endif %}
<h2>
    Sheet Sections&nbsp;&nbsp;<span class="text-muted fs-6 fw-light"><small>Information about the character. Can have multiple paragraphs and use markdown for formatting</small></span>
</h2>
<hr class="border border-primary border-2 opacity-75">

<div id="{{ CharacterEditableInfo.CUSTOM_SECTION.value.div_id }}">
    {% if character.sheet_sections %}
        <div class="row g-2 row-cols-sm-2 row-cols-md-3 g-2">
            {% for section in character.sheet_sections | sort(attribute="title") %}
                <div class="col fade-me-out" id="custom-section-item">
                    <div class="card border border-secondary-subtle bg-light-subtle h-100"
                         style="padding-left:0;
                                padding-right:0">
                        <div class="card-header">
                            <h4>{{ section.title | escape }}</h4>
                        </div>
                        <div class="card-body">{{ section.content | from_markdown | safe }}</div>
                        {% if can_edit %}
                            <div class="card-footer">
                                <button hx-get="{{ url_for(CharacterEditableInfo.CUSTOM_SECTION.value.route, character_id=character.id, uuid=section.uuid) }}"
                                        hx-trigger="click"
                                        hx-target="#{{ CharacterEditableInfo.CUSTOM_SECTION.value.div_id }}"
                                        hx-swap="innerHTML"
                                        class="btn btn-sm btn-primary">Edit</button>
                                <button class="btn btn-sm btn-outline-danger"
                                    hx-delete="{{ url_for(CharacterEditableInfo.CUSTOM_SECTION.value.route, character_id=character.id, uuid=section.uuid) }}"
                                    {# hx-target="#{{ CharacterEditableInfo.CUSTOM_SECTION.value.div_id }}" #}
                                    hx-confirm="Are you sure?"
                                    hx-target="closest #custom-section-item"
                                    hx-swap="outerHTML swap:1s"
                                    hx-trigger="click">Delete
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <div class="mb-5">
            <p>No custom sections</p>
        </div>
    {% endif %}
</div>
