{# def
    character:Character,
    character_owner: User,
    sheet_data: list[SheetSection],
    profile_data: dict[str,str],
    campaign_experience: int = 0,
    campaign: Campaign,
    dice_sizes: list[int],
    form: ValentinaForm,
    tabs: CharacterViewTab,
    CharacterEditableInfo: CharacterEditableInfo,
#}
<PageLayout title={{ character.name }} _attrs={{ attrs }}>
    <global.PageTitle>{{ character.full_name }}</global.PageTitle>

    {% include "character_view/EditButtons.jinja" %}

    {% include "character_view/tabs.html" %}

    <div id="main-content" class="mt-3 mx-auto">
        {# Include the default jinjax template include here for initial page load #}
        <character_view.Sheet character={{ character }} traits={{ traits }} character_owner={{ character_owner }} sheet-data={{ sheet_data }} profile-data={{ profile_data }} />
    </div>
</PageLayout>
