{# def
    character: Character,
    traits: list[CharacterTrait],
    character_owner: User,
#}
{# js bootstrap_initialize.js #}
<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 px-lg-5">
    {% for key, value in character.sheet_section_top_items().items() %}
        <div class="col" id="field-edit-wrapper">
            <h4>{{ key }}</h4>
            <p>{{ value }}</p>
        </div>
    {% endfor %}
    {% if session["IS_STORYTELLER"] %}
        <div class="col" id="field-edit-wrapper">
            <h4>Character Type</h4>
            <p>
                {% if character.type_player %}Player Character{% endif %}
                {% if character.type_storyteller %}Storyteller Character{% endif %}
            </p>
        </div>
        <div class="col" id="field-edit-wrapper">
            <h4>Character Owner</h4>
            <p>
                {% if character_owner.avatar_url %}
                    <img src="{{ character_owner.avatar_url }}"
                         width="30"
                         height="30"
                         class="rounded-circle">
                {% endif %}
                {{ character_owner.name }}
            </p>
        </div>
    {% endif %}
</div>
{% for sheet_section, trait_category in traits.items() %}
    <div class="separator">{{ sheet_section }}</div>
    <div class="row row-cols-1 row-cols-md-3 gy-5">
        {% for category, traits in trait_category.items() %}
            <div class="col">
                <div class="text-center pe-5">
                    <h4>{{ category | title }}</h4>
                </div>
                <div class="row row-cols-2">
                    {% for trait in traits %}
                        <div class="col">{{ trait.name | capitalize }}:</div>
                        <div class="col-auto">{{ trait.dots }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
