<PageLayout title="Create Character">
<global.PageTitle>Create Character from Sheet</global.PageTitle>
<div class="d-flex justify-content-center align-items-center"
     id="create-character-container">{% include "character_create_full/Start.jinja" %}</div>
</PageLayout>
