{# def
    form:QuartForm,
    join_label:bool = False,
    floating_label:bool = False,
    progress:int = None,
    post_url:str = "",
#}
{# Determine the encoding type based on the presence of file fields #}
{% set encoding = "multipart/form-data" if form.__iter__() | selectattr("type", "in", ["FileField","MultipleFileField"]) | list else "application/x-www-form-urlencoded" %}
<div id="form-container">
    {% if progress %}
        <div class="progress mb-3"
             role="progressbar"
             aria-label="Example with label"
             aria-valuenow="{{ progress }}"
             aria-valuemin="0"
             aria-valuemax="100">
            <div class="progress-bar" style="width: {{ progress }}%">{{ progress }}%</div>
        </div>
    {% endif %}
    <h3 class="mb-3">{{ form.title }}</h3>
    <form method="post"
        id="{{ form._prefix }}form"
        hx-post="{{ post_url }}"
        novalidate
        hx-indicator="#spinner"
        hx-target="#create-character-container"
        {# hx-swap="outerHTML" #}
        encoding="{{ encoding }}">
        <global.WTFormElements form={{ form }} join_label={{ join_label }} floating_label={{ floating_label }} />
    </form>
</div>
