{# def
    form:ValentinaForm,
    max_value:int = 5,
    name:str,
    label:str,
    current_value:int = 0,
    hx_trigger:str = "",
    hx_post:str = "",
    hx_target:str = "",
#}

{% set max_val_int = max_value | int %}

{% set current_value_int = current_value | int %}

<div class="btn-toolbar mb-2" role="toolbar">
    <div class="btn-group btn-group-sm" role="group">
        <button type="button" class="btn btn-secondary" style="width: 7rem;">{{ label }}</button>
        {% for i in range(max_val_int + 1) %}
            {% if i == current_value_int -%}
                <button type="button" class="btn btn-primary" disabled>{{ i }}</button>
            {% else %}
                <button type="button"
                        class="btn btn-outline-primary"
                        id="{{ name }}_{{ i }}"
                        name="{{ name }}"
                        value="{{ i }}"
                        {% if hx_trigger -%}hx-trigger="{{ hx_trigger }}"{%- endif %}
                        {% if hx_post -%}hx-post="{{ hx_post }}"{%- endif %}
                        {% if hx_target -%}hx-target="{{ hx_target }}"{%- endif %}>{{ i }}</button>
            {% endif %}

        {% endfor %}
    </div>
</div>
