{# def
    macros:list[UserMacro] = [],
    campaign:Campaign = None,
    form:ValentinaForm,
    character:Character,
    roll_types:RollType,
#}

{% if macros | length > 0 %}

    {% set roll_type = roll_types.MACROS.value %}

    {% set roll_results_id = "results" ~ character.id %}

    <form hx-post="{{ url_for('diceroll_modal.roll_results', character_id=character.id, campaign_id=campaign.id) }}"
          hx-target="#{{ roll_results_id }}"
          hx-trigger="submit"
          class="pb-3">
        <input type="hidden" id="dice_size" name="dice_size" value="10" />
        <input type="hidden" id="roll_type" name="roll_type" value="{{ roll_type }}" />
        <input type="hidden"
               id="character_id"
               name="character_id"
               value="{{ character.id }}" />
        <input type="hidden"
               id="campaign_id"
               name="campaign_id"
               value="{{ campaign.id }}" />
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <label class="input-group-text">Macro</label>
                    <select class="form-select" name="macro">
                        <option value='{}' selected></option>
                        {% for macro in macros %}
                            <option value='{"trait1": "{{ macro.trait_one }}", "trait2": "{{ macro.trait_two }}", "name": "{{ macro.name }}", "abbreviation": "{{ macro.abbreviation }}" }'>
                                {{ macro.name }} ({{ macro.trait_one | lower }} + {{ macro.trait_two | lower }})
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <global.valentinaform.Increment label="Difficulty" name="difficulty" start-val="6" min-val="0" max-val="10" form={{ form }} />
            </div>
            {% if campaign %}
                <div class="col">
                    <global.valentinaform.Increment label="Desperation Dice" name="desperation_dice" start-val="0" max-val={{ campaign.desperation }} form={{ form }} />
                </div>
            {% endif %}
        </div>
        <button class="btn btn-primary" value="submit">Roll Dice</button>
    </form>
{% else %}

    <p>
        No macros found. You can create macros in your <a href="{{ url_for('user_profile.view', user_id=session['USER_ID']) }}">profile</a>.
    </p>
{% endif %}
