{# def
    character:Character = None,
    campaign:Campaign = None,
    dice_sizes:list[int],
#}
<form hx-post="{{ url_for("gameplay.diceroll") }}"
      hx-target="#main-content"
      hx-trigger="submit"
      class="py-3">
    <input type="hidden" id="tab" name="tab" value="throw" />
    <div class="row">
        <div class="col">
            <label for="dice_size" class="form-label">Dice Size</label>
            <div class="input-group mb-3">
                {# <label class="input-group-text">Dice Size</label> #}
                <select class="form-select" name="dice_size">
                    {% for dice_size in dice_sizes | sort %}
                        <option value="{{ dice_size }}" {% if dice_size == 10 %}selected{% endif %}>{{ dice_size }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col">
            <global.FormIncrement label="Dice Pool" form-id="pool" start-val="1" />
        </div>
        <div class="col">
            <global.FormIncrement label="Difficulty" form-id="difficulty" start-val="6" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <global.FormIncrement label="Desperation Dice" form-id="desperation_dice" start-val="0" max-val={{ campaign.desperation }} />
        </div>
    </div>
    <button class="btn btn-primary" value="submit">Roll Dice</button>
</form>
