{# def
    guild: Guild,
    PermissionsGrantXP: PermissionsGrantXP,
    PermissionsManageTraits: PermissionsManageTraits,
    PermissionManageCampaign: PermissionManageCampaign,
    PermissionsKillCharacter: PermissionsKillCharacter,
    LogLevel: LogLevel,
    success_msg: str = "",
#}

<PageLayout title="Admin" _attrs={{ attrs }} sweetalert={{ True }}>
    <global.PageTitle>Admin</global.PageTitle>

    <p class="mb-5 fs-4">Use this page to manage Valentina's settings.</p>

    <table class="table table-striped" id="settings">
        <thead>
            <tr>
                <th class="align-baseline fs-3" colspan="4">Settings</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"  class="align-middle">
                    <span class="text-nowrap">Grant XP</span>
                </th>
                <td class="align-middle">
                    <p>Control who can grant experience and cool points to a player.</p>
                    <ol>
                        <li>
                            <strong>Unrestricted:</strong> Any player can grant experience to any player
                        </li>
                        <li>
                            <strong>Player Only:</strong> A player may only grant experience to themselves
                        </li>
                        <li>
                            <strong>Storyteller Only:</strong> Only a Storyteller can grant experience to players
                        </li>
                    </ol>
                </td>
                <td class="align-middle">{{ guild.permissions.grant_xp.name.title().replace('_', ' ') }}</td>
                <td class="align-middle">
                    <div class="btn-group" role="group">
                        <button type="button"
                                class="btn btn-sm btn-primary dropdown-toggle"
                                data-bs-toggle="dropdown">Grant XP</button>
                        <ul class="dropdown-menu">
                            {% for permission in PermissionsGrantXP %}
                                <li>
                                    <a class="dropdown-item"
                                       hx-post="{{ url_for('admin.home', grant_xp=permission.value, _method='POST') }}"
                                       hx-trigger="click"
                                       hx-target="#settings">{{ permission.name.title().replace('_', ' ') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="align-middle">
                    <span class="text-nowrap">Update Traits</span>
                </th>
                <td class="align-middle">
                    <p>Control who can update the value of a character's traits without spending experience.</p>
                    <ol>
                        <li>
                            <strong>Unrestricted:</strong> Any user can update the value of any character's traits
                        </li>
                        <li>
                            <strong>Owner Only:</strong> The owner of a character can update the value of that character's traits
                        </li>
                        <li>
                            <strong>Within 24 hours:</strong> The owner of a character can update a character's traits within 24 hours of creation
                        </li>
                        <li>
                            <strong>Storyteller only:</strong> Only a Storyteller can manually update the value of a character's traits
                        </li>
                    </ol>
                </td>
                <td class="align-middle">{{ guild.permissions.manage_traits.name.title().replace('_', ' ') }}</td>
                <td class="align-middle">
                    <div class="btn-group" role="group">
                        <button type="button"
                                class="btn btn-sm btn-primary dropdown-toggle"
                                data-bs-toggle="dropdown">Manage Traits</button>
                        <ul class="dropdown-menu">
                            {% for permission in PermissionsManageTraits %}
                                <li>
                                    <a class="dropdown-item"
                                       hx-post="{{ url_for('admin.home', manage_traits=permission.value, _method='POST') }}"
                                       hx-trigger="click"
                                       hx-target="#settings">{{ permission.name.title().replace('_', ' ') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="align-middle">
                    <span class="text-nowrap">Manage Campaigns</span>
                </th>
                <td class="align-middle">
                    <p>Control who can create, delete, and manage campaigns. This includes:</p>
                    <ul>
                        <li>Creating a new campaign</li>
                        <li>Deleting a campaign</li>
                        <li>Editing books and chapters from a campaign</li>
                        <li>Setting danger and desperation levels</li>
                    </ul>
                </td>
                <td class="align-middle">
                    {{ guild.permissions.manage_campaigns.name.title().replace('_', ' ') }}
                </td>
                <td class="align-middle">
                    <div class="btn-group" role="group">
                        <button type="button"
                                class="btn btn-sm btn-primary dropdown-toggle"
                                data-bs-toggle="dropdown">Manage Campaigns</button>
                        <ul class="dropdown-menu">
                            {% for permission in PermissionManageCampaign %}
                                <li>
                                    <a class="dropdown-item"
                                       hx-post="{{ url_for('admin.home', manage_campaigns=permission.value, _method='POST') }}"
                                       hx-trigger="click"
                                       hx-target="#settings">{{ permission.name.title().replace('_', ' ') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="align-middle">
                    <span class="text-nowrap">Kill Characters</span>
                </th>
                <td class="align-middle">
                    <p>Control who can mark a character as dead.</p>
                </td>
                <td class="align-middle">{{ guild.permissions.kill_character.name.title().replace('_', ' ') }}</td>
                <td class="align-middle">
                    <div class="btn-group" role="group">
                        <button type="button"
                                class="btn btn-sm btn-primary dropdown-toggle"
                                data-bs-toggle="dropdown">Kill Characters</button>
                        <ul class="dropdown-menu">
                            {% for permission in PermissionsKillCharacter %}
                                <li>
                                    <a class="dropdown-item"
                                       hx-post="{{ url_for('admin.home', kill_character=permission.value, _method='POST') }}"
                                       hx-trigger="click"
                                       hx-target="#settings">{{ permission.name.title().replace('_', ' ') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>

        </tbody>
        <thead>
            <tr>
                <th class="align-baseline fs-3" colspan="4">Maintenance Tasks</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="align-middle">
                    <span class="text-nowrap">Rebuild Campaign Channels</span>
                </th>
                <td class="align-middle">
                    <p>Delete all campaign channels and recreate them in Discord.</p>
                    <p>
                        <strong>Use with caution:</strong> This is a destructive operation that will delete and recreate all campaign-related channels, including their message history.
                    </p>
                </td>
                <td></td>
                <td class="align-middle">
                    <a class="btn btn-sm btn-warning"
                        hx-post="{{ url_for('admin.home', rebuild_channels=1, _method='POST') }}"
                        {# hx-trigger="click" #}
                        hx-trigger='confirmed'
                        onClick="Swal.fire({title: 'Confirm Rebuild', text:'Are you sure you want to delete all campaign channels and recreate them in Discord?', confirmButtonText: 'Confirm',confirmButtonColor: 'green', showCancelButton: true}).then((result)=>{ if(result.isConfirmed){ htmx.trigger(this, 'confirmed'); } })"
                        hx-target="#settings">
                        <i class="fa-solid fa-arrow-down-short-wide"></i> Rebuild Channels
                    </a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="align-middle">
                    <span class="text-nowrap">Change Log Level</span>
                </th>
                <td class="align-middle">
                    <p>
                        Change the log level for the bot. Unless you are experiencing issues, this should be set to <span class="font-monospace">WARNING</span>.
                    </p>
                </td>
                <td class="align-middle"></td>

                <td class="align-middle">
                    <div class="btn-group" role="group">
                        <button type="button"
                                class="btn btn-sm btn-warning dropdown-toggle"
                                data-bs-toggle="dropdown">
                            <i class="fa-solid fa-pen"></i> Change Log Level
                        </button>
                        <ul class="dropdown-menu">
                            {% for log_level in LogLevel %}
                                <li>
                                    <a class="dropdown-item"
                                       hx-post="{{ url_for('admin.home', log_level=log_level.value, _method='POST') }}"
                                       hx-trigger="click"
                                       hx-target="#settings">{{ log_level.name.title().replace('_', ' ') }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row" class="align-middle">
                    <span class="text-nowrap">Download Log File</span>
                </th>
                <td class="align-middle">
                    <p>Download the log file for the bot.</p>
                </td>
                <td class="align-middle"></td>
                <td class="align-middle">
                    <a class="btn btn-sm btn-primary"
                       href="{{ url_for('static_files.logfile') }}"><i class="fa-solid fa-download"></i> Download Log</a>
                </td>
            </tr>

        </tbody>
    </table>

    {% if success_msg %}<global.Toast msg={{ success_msg }} level="success" />{% endif %}
</PageLayout>
